<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Set up the IISNode module -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Rewrites all URLs to your Node.js application for processing -->
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Sets up the logs and debugging -->
    <iisnode 
      debuggingEnabled="false" 
      loggingEnabled="true" 
      logDirectory="iisnode" 
      nodeProcessCountPerApplication="1"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxLogFiles="20"
      devErrorsEnabled="true" 
      flushResponse="false" 
      enableXFF="false"
      promoteServerVars=""
    />

    <!-- Set default document for the application -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

  </system.webServer>
</configuration>
